{% extends 'baseIndex.html.twig' %}



{% block body %}
<div style="margin-top: 3rem;">
<center>
    <img src="{{asset('assets/img/logo.png')}}" alt="conceptMaps" style="" >

    <h1>Welcome to ConceptMaps!</h1>
<h3>the definite way of realizing Conceptual Maps</h3>
</center>
</div>
{% endblock %}
